.button-all {
    background-color: #c54646;
}

.button-normal {
    background-color: #A8A878;
}

.button-fire {
    background-color:#F08030;
}

.button-water {
    background-color: #6890F0;
}

.button-grass {
    background-color: #78C850;
}

.button-electric {
    background-color: #F8D030;
}

.button-ice {
    background-color: #98D8D8;
}

.button-fighting {
    background-color: #C03028;
}

.button-poison {
    background-color: #A040A0;
}

.button-ground {
    background-color: #E0C068;
}

.button-flying {
    background-color: #A890F0;
}

.button-psychic {
    background-color: #F85888;
}

.button-bug {
    background-color: #A8B820;
}

.button-rock {
    background-color: #B8A038;
}

.button-ghost {
    background-color: #705898;
}

.button-dragon {
    background-color: #7038F8;
}

.button-dark {
    background-color: #705848;
}

.button-steel {
    background-color: #B8B8D0;
}

.button-fairy {
    background-color: #EE99AC;
}

.button-unknown {
    background-color: #f5c7f7;
}

.button-shadow {
    background-color: #455d7a;
}